*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sofia Sans", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background: #222;
  margin-bottom: 42px;
}
.navbar_off {
  display: flex;
  align-items: center;
  background-color: #333335;
  padding: 10px 0;
}

.ligne {
  display: flex;
  color: #ffffff;
  width: 100%;
  justify-content: space-around;
  color: #b3b3b4;
}

.user {
  margin-left: 10px;
  display: inline;
}

.navbar2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar_logo {
  width: 150px;
}

.navbar_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

/* .home, .article, .contact {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
} */

.navbar_search {
  cursor: pointer;
}
