*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto";
}

header {
  height: 97px;
  background: #222;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  height: 50.67px;
  left: 0px;
  top: 19px;
}

.navbar_logo {
  /* Group */

  width: 42px;
  height: 49.76px;

  /* transform: matrix(1, 0, 0, -1, 0, 0); */

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.navbar_links {
  /* display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin: 1rem 1rem 0rem 1rem;
    color: azure; */

  /* NavItems */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 13px;
  width: 514px;
  height: 39px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: azure;
}
.home {
  width: 69px;
  height: 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.article {
  width: 95px;
  height: 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.contact {
  width: 109px;
  height: 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

/* Search 1 */
.navbar_search {
  width: 53.33px;
  height: 50.67px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.rectangle_bas {
  width: 100%;
  height: 78px;
  left: 0px;
  right: 0px;
  top: 822px;
  right: 0px;
  background: #222222;
}

.iBlog {
  width: 302.85px;
  height: 36px;
  left: 62px;
  top: 139px;
  font-style: normal;
  font-weight: 700;
  font-size: 25.414px;
  line-height: 30px;
  color: #000000;
}

/* Group 1 */
.group {
  height: 412.98px;
  left: 62px;
  top: 216.3px;
}

/* image 1 */
.img_gauche {
  width: 360.36px;
  height: 230.84px;
  left: 63.06px;
  top: 216.3px;
  background: url(/site_apple/assets/images/image\ 1.png);
}
/* image 2 */
.img_centre {
  width: 360.36px;
  height: 230.84px;
  left: 538.61px;
  top: 216.3px;
  background: url(/site_apple/assets/images/image\ 2.png);
}

/* image 3 */
.img_droite {
  width: 359.31px;
  height: 229.79px;
  left: 1014.16px;
  top: 217.36px;
  background: url(/site_apple/assets/images/image\ 3.png);
}

.rectangle3 {
  height: 412.98px;
  left: 62px;
  top: 216.3px;
  background: #ffffff;
  box-shadow: 0px 4.23567px 4.23567px rgba(0, 0, 0, 0.25);
}
